/* pre-setting*/

button{
    background-color: #3882F6;
}

/* total html setting*/

html{
    font-family: 'Roboto', sans-serif;  
    min-width: 720px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin:0;
}

/*header setting*/

.background{
    padding: 50px 200px;
    text-align: center;
}

.black-background{
    background-color: #1F2937;
    color: white;
    padding: 30px 200px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    color: #F9FAF8;
    font-size:24px;
    font-weight: 600;
}

ul{
    margin:0;
    display: flex;
    list-style-type: none;
    gap: 16px;
}

li a{
    color: #e5e7eb;
    font-size:18px;
    text-decoration: none;
}

/*first setting*/

.first{
    display: flex;
    min-height: 300px;
    min-width: 500px;
    flex-wrap: wrap;
    justify-content: center;
}

.first-container{
    max-width: 600px;
    display:flex;
    flex-direction: column;
    gap:20px;
    text-align: left;
}

.first-profile{
    max-width: 800px;
}

img#Ronnie_Coleman{
    max-height: 300px;
    object-fit:fill;
    border: 1px solid white;
    border-radius: 20px;
}

img{
    border-radius: 20px;
}

h1{
    margin:0;
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
}

.play-store-button{
    color:white;
    font-weight: 600;
    font-size: 14px;
    padding:10px 30px;
    border-radius: 15px;
}

/*second setting*/

.second{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-information{
    color: black;
    max-width: 900px;
}

.second-profile{
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile{
    width: 200px;
    height: 200px;
}

.profile img{
    width:75%;
    height:75%;
    object-fit: fill;
}

/*third setting*/



/*
.second>p{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.third{
    background-color: #e5e7eb;
}

.third>em{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.third{
    display:flex;
    flex-direction: column;
    align-items: center;
} 
*/